@charset "UTF-8";
@import "libs/_lib";

.title-col {
    h1,h2,h3,h4,h5,h6 {
        font-size: 43px;
        font-weight: 600;

    }
    .sub-title {
        font-size: 19px;
        line-height: 27px;
        display: block;

    }
    .sub-label {
        display: block;
        font-family: $font-muli;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;

    }

}

.dropdown-menu {
    border: 0;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
    &:not(.account-dropdown) {
        .dropdown-item {
            padding: 0;
            color: $base-color;
            font-size: $base-font-size + 1;
            -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            &:hover, &:active {
                background-color: $theme-color-1;
                a {
                    color: #ffffff;
                }
            }
            a {
                display: block;
                padding: .25rem 1.5rem;
                color: $base-color;
            }
        }
    }
}

#sidebar-wrapper {
    position: fixed;
    z-index: 1000;
    min-height: 100vh;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    margin-left: 0;
    width: 220px;
    flex: 0 0 220px;
    min-width: 220px;
    max-width: 220px;
    padding-top: 75px;
    .sidebar-main-list {
        height: 100vh;
    }
    .sidebar-children {
        height: 100%;
        margin-left: -1px;
        margin-top: -1px;
        padding-top: .1px; 
    }
    .list-group-flush {
        overflow: auto;
        height: 100vh;
    }
    .list-group {
        &:before, &:after {
            display: table;
            content: "";
        }
        > .list-group-item {
            padding-bottom: .02px;
        }
    }
    .sidebar-trigger {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 75px;
        left: 100%;
        width: 36px;
        z-index: 1;
        border-radius: 0 4px 4px 0;
        @include eqbox(42px);
        font-size: 18px;
        color: $base-color;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        background: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
        opacity: .55;
        transition: all .3s cubic-bezier(.25,.8,.25,1);
    }
    &.show {
        .sidebar-trigger {
            opacity: 1;
        }
    }
    @media (max-width: 991px) {
        &:not(.show) {
        margin-left: -220px;
        }
    }
    @media (min-width: 425px) {
        padding-top: 64px;
        .sidebar-trigger {
            top: 64px;
        }
    }
    @media (min-width: 992px) {
        .sidebar-trigger {
            display: none;
            z-index: -9999;
            overflow: hidden;
            visibility: hidden;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
        }
    }
}
.content-wrapper {
    width: 100%;
    background-color: $wrapper-bg-color;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    padding-top: 75px;
    min-height: 100vh;
    position: relative;
    padding-bottom: 66px;
    .content-layout {
        padding: 6px;
    }
    @media (min-width: 377px) {
        padding-bottom: 45px;
    }
    @media (min-width: 425px) {
        padding-top: 64px;
    }
    @media (min-width: 992px) {
        .content-layout {
            padding: 10px 18px;
        }
    }
    .content-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 12px 0;
        a, span {
            font-size: 14px;
            padding: 0 12px;
            color: rgba(0, 0, 0, 0.55);
        }
        a {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                right: -2px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.55);
                top: 50%;
                transform: translateY(-50%);
            }
            &:hover, &:active {
                color: $theme-color-1;
            }
        }
    }
}

.container-fluid {
    padding: 0;
}

.container-box {
    .container-inner-box {
        padding-left: $col-padding;
        padding-right: $col-padding;
        &.-left {
            @media (min-width: 992px) {
                max-width: calc(100% - 310px);
            }
            @media (min-width: 1366px) {
                max-width: calc(100% - 540px);
            }
        }
        &.-right {
            .-half {
                flex-basis: 100%;
                max-width: 100%;
                @media all and (min-width: 600px) and (max-width: 991px), (min-width: 1366px) {
                    flex-basis: 50%;
                    max-width: 50%;
                }
            }
            @media (min-width: 992px) {
                width: 310px;
                max-width: 310px;
            }
            @media (min-width: 1366px) {
                width: 540px;
                max-width: 540px;
            }
        }
    }
}

.wrapper.toggled .sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 992px) {
  .content-wrapper {
    min-width: 0;
    width: 100%;
    overflow-x: hidden;
    margin-left: 220px;
  }

  .wrapper.toggled .sidebar-wrapper {
    margin-left: -15rem;
  }
}

.navbar {
    position: fixed;
    z-index: 1001;
    width: 100%;
    padding: 0 12px;
    .logo-col {
        padding: 0 12px;
        flex-direction: column;
        a {
            height: 62px;
            line-height: 45px;
            display: block;
        }
        .logo-text {
            @include eqbox(22px, 1px);
            font-size: 13px;
            position: absolute;
            top: 42px;
            left: 70px;
            color: rgba(0,0,0,.55);
        }
    }
    .account-col {
        position: relative;
        &.show {
            .account-dropdown-link {
                color: $theme-color-1;
                border-color: $theme-color-1;
            }
        }
        .account-dropdown-link {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            position: relative;
            padding: 0 12px;
            @include eqbox(74px, 2px);
            border-bottom: 2px solid transparent;
            transition: border-color .3s;
            cursor: pointer;
            white-space: nowrap;
            &:hover, &:active {
                color: $theme-color-1;
                border-color: $theme-color-1;
            }
        }
        .account-name {
            padding-right: 8px;
        }
        .account-dropdown {
            .dropdown-item {
                &:hover, &:active {
                    background-color: transparent;
                }
            }
            .dropdown-footer {
                text-align: right;
            }
        }
    }
    @media (min-width: 425px) {
        padding: 0 24px;
        .logo-col {
            padding: 0;
            flex-direction: row;
            a {
                @include eqbox(63px);
            }
            .logo-text {
                position: static;
                font-size: $base-font-size;
                padding-left: 14px;
                @include eqbox(63px, -12px);
            }
        }
        .account-col {
            .account-dropdown-link {
                @include eqbox(63px, 2px);
                flex-direction: row;
            }
            .account-name {
                padding-right: 0;
                padding-left: 8px;
            }
        }
    }
}

.account-avatar-wrapper {
    display: inline-block;
    .account-avatar {
        font-size: 15px;
        font-weight: 500;

        // przykladowo 
        color: rgb(223, 146, 58);
        background-color: rgb(253, 231, 206);
    }
    .account-avatar-string {
        transform: scale(1) translateX(-50%)!important;
    }
}

.account-avatar {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $base-color;
    font-size: 14px;
    line-height: 1.5;
    list-style: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background: #ccc;
    width: 32px;
    height: 32px;
    line-height: 32px;
    .account-avatar-string {
        position: absolute;
        left: 50%;
        -webkit-transform-origin: 0 center;
        -ms-transform-origin: 0 center;
        transform-origin: 0 center;
    }
}

.account-avatar-circle {
    border-radius: 50%;
}

.list-group {
    .list-line {
        height: 1px;
        margin: 1px 0;
        padding: 0;
        overflow: hidden;
        line-height: 0;
        background-color: #e8e8e8;
        position: relative;
    }
    .list-group-item {
        margin: 4px 0;
        padding: 0;
        border: 0;
        margin-bottom: 7px;
        &:hover, &:active {
            background-color: transparent;
        }
        &.active {
            a {
            border-color: transparent;
                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: 1;
                    width: 3px;
                    background-color: $theme-color-1;
                }
                &, &:hover, &:active, &:focus {
                    color: $theme-color-1;
                    background-color: #DEE5FF;
                }
            }
        }
        a {
            display: block;
            padding: 0 1.25rem 0 24px;
            height: 40px;
            line-height: 40px;
            position: relative;
            i {
                transition: -webkit-transform ease-in-out .3s;
                transition: transform ease-in-out .3s;
                transition: transform ease-in-out .3s,-webkit-transform ease-in-out .3s;
                font-size: 14px;
                &.nav-icon {
                    margin-right: 12px;
                }
                &:not(.nav-icon) {
                    position: absolute;
                    font-size: 16px;
                    right: 1.25rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &[data-toggle="collapse"]:not(.collapsed) {
                i.right {
                    transform: translateY(-50%) rotate(-180deg);
                }
            }
            &:hover, &:active {
                color: $theme-color-1;
                background-color: transparent;
            }
            &:focus {
                background-color: transparent;
            }
        }
    }
    &.panel-collapse {
        .list-group-item {
            margin-top: 1px;
            margin-bottom: 2px;
            a {
                @include eqbox(27px);
                padding-left: 3rem;
                font-size: 13px;
            }
        }
    }
}

.breadcrumb {
    background-color: $wrapper-bg-color;
    margin-bottom: 6px;
    padding: $col-padding 0;
    justify-content: flex-end;
    .breadcrumb-item {
        a {
            color: rgba(0,0,0,.55);
            &:hover, &:active {
                color: $theme-color-1;
            }
        }
        &.active {
            color: $base-color;
        }
    }
    @media (min-width: 992px) {
        justify-content: flex-start;
        margin-bottom: 10px;
    }
}

.card {
    background: #fff;
    border: 0;
    border-radius: 4px;
    padding: 0 12px;
    margin-bottom: 2 * $col-padding;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    .card-title {
        display: block;
        font-weight: 400;
        font-size: 14px;
        color: rgba(0,0,0,.45);
        margin-bottom: 16px;
    }
}

.card {
    .card-body {
        padding: 8px 0;
    }
}

.dashboard-card {
    .quick-links {
        @media (min-width: 600px) and (max-width: 895px) {
            flex-basis: 50%;
            width: 50%;
            max-width: 50%;
        }
    }
    a {
        max-width: 250px;
        > .icon {
            display: flex;
            justify-content: center;
            min-width: 41px;
            font-size: 36px;
            margin-right: 20px;
            transition: all .2s ease-in-out;
        }
        .sub-info {
            color: $base-color;
            .sub-title {
                display: block;
                font-weight: 600;
                font-size: 15px;
                margin: 0 0 6px;
                line-height: 1;
            }
            .sub-desc {
                text-align: left;
            }
        }
        &:hover {
            > .icon {
                transform: scale(1.1);
            }
        }
    }
    .order {
        padding: 8px 0;
        span {
            display: block;
            text-align: center;
            &.count {
                font-size: 17px;
                font-weight: 600;
                line-height: 1;
            }
            &.sub-label {
                font-size: 12px;
                color: rgba(0,0,0,.45);
            }
        }
    }
    .currency-rate {
        display: flex;
        height: 30px;
        span {
            &.title {
                color: rgba(0,0,0,.45);
                margin-right: 8px;
            }
            &.rates {
                flex: 1 1;
                display: flex;
                justify-content: space-around;
                > span {
                    flex: 1 1;
                    text-align: right;
                }
            }
        }
    }
}

.empty-box {
    text-align: center;
    &.-normal {
        margin: 32px 0;
        color: rgba(0,0,0,.25);
    }
    .empty-icon {
        font-size: 62px;
        @include eqbox(62px);
        margin-bottom: 8px;
    }
    .empty-description {
        font-size: 14px;
        line-height: 22px;
    }
}

.table-links {
    padding: 11px 8px!important;
    text-align: right;
    width: 181px;
    a {
        margin: 2px 0;
    }
}

.table-placeholder {
    .table-actions {
        .table-selects {
            @media (max-width: 424px) {
                flex-direction: column;
                select {
                    margin-bottom: 8px;
                }
            }
            select {
            margin-right: 8px;
            min-width: auto;
                @media all and (min-width: 768px) and (max-width: 991px), (min-width: 1200px) {
                    min-width: 200px;
                }
            }
        }
    }
}

    .dashboard-tabs {
        border-bottom: 0;
        > li {
            margin-bottom: -1px;
            a {
                position: relative;
                display: block;
                margin-right: 2px;
                padding: 6px 20px;
                line-height: 1.42857143;
                border: 1px solid transparent;
                border-radius: 4px 4px 0 0;
                color: rgba(0,0,0,.65);
                background: rgba(0,0,0,.05);
                &:hover, &:active, &:focus {
                    background: rgba(0,0,0,.15);
                }
            }
            &.active {
                a {
                    &, &:hover, &:active, &:focus {
                        color: $base-color;
                        background-color: #fff;
                        cursor: default;
                    }
                }
            }
        }
    }
.tab-content {
    > .tab-pane {
        display: none;
        &.active {
            display: block;
        }
    }
}

.modal {
    .modal-header {
        align-items: center;
        .close {
            font-size: 2rem;
        }
    }
    .modal-content {
        border: 0;
    }
    .modal-title {
        font-size: 16px;
        font-weight: 600;
    }
}

.spinner {
    margin: 32px;
}